<?xml version="1.0" encoding="UTF-8" ?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<logger name="com.mchange" level="warn" />
		<logger name="net.java.truevfs" level="warn" />
		<logger name="net.java.truecommons" level="warn" />
		<logger name="org.jboss.weld" level="debug" />
		<logger name="org.hibernate" level="info" />
		<logger name="org.hibernate.SQL" level="info" />
		<logger name="org.hibernate.type" level="info" />
		<logger name="net.simsa.codeanalyzer" level="info" />


		<!-- org.hibernate.SQL Log all SQL DML statements as they are executed -->
		<!-- org.hibernate.type Log all JDBC parameters -->
		<!-- org.hibernate.tool.hbm2ddl Log all SQL DDL statements as they are 
			executed -->
		<!-- org.hibernate.pretty Log the state of all entities (max 20 entities) 
			associated with the session at flush time -->
		<!-- org.hibernate.cache Log all second-level cache activity -->
		<!-- org.hibernate.transaction Log transaction related activity -->
		<!-- org.hibernate.jdbc Log all JDBC resource acquisition -->
		<!-- org.hibernate.hql.ast.AST Log HQL and SQL ASTs during query parsing -->
		<!-- org.hibernate.secure Log all JAAS authorization requests -->
		<!-- org.hibernate Log everything (a lot of information, but very useful 
			for troubleshooting) -->

		<root level="debug">
			<AppenderRef ref="console" />
		</root>
	</loggers>

</log4j:configuration>
